
* {
  margin: 0;
  padding: 0;
  cursor: url("https://downloads.totallyfreecursors.com/cursor_files/dolphin1.ani"), url("https://downloads.totallyfreecursors.com/thumbnails/dolphin1.gif"), auto;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  
}

body {
  background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/10157433/large_2f07dea5f7674a3ad26ed9e94e0293d3.png?1610124948?bc=0");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  display: block;
  margin: 0 auto


}


body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
}

a, a:link, a:visited, a:active {
  text-decoration: underline;
  color: black;
}

p {
  

  padding-right: 30%;
  margin-left: 10px;
  font-family: 'Xanh Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  color: black;
  line-height: 1.35;
  text-align: left;
}

h3{
  font-family: 'Xanh Mono', monospace;
  font-size: 0.9vw;
  background-color: yellow;
  position: fixed;
  padding: 1%;
  left: 70%;
  top: 3%;
  right: auto;
}


.nota{
  font-family: 'Xanh Mono', monospace;
  font-size: 0.9vw;
}

h4{
  font-family: 'Xanh Mono', monospace;
  font-size: 0.9vw;
}


.text {
  display: none;
  width: 90vw;
  margin-left: 50px;
  margin-right: auto;
  text-align: left;
}

.hover {
  pointer-events: none;
  display: inline-block;

  position: absolute;
}




.meimg, .litimg, .eyeimg, .handimg, .stoicimg, .typeimg, .beerimg, .blankimg, .blodimg {

  max-width: 50vw;
  max-height: 30vw;
  display: none;
}

.melink:hover+.meimg {
  display: block;
}

.link{
  color: blue;
}

.hidden {
  display: none;
}

.wrapper {
  height: 100vh;
}

.row {
  
  float: right;
  padding-top:  1px;
  padding-left:  3px;
  padding-right:  3px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  }
